<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="script.js"></script>

</head>
<body>
<div id="app" class="container">
    <h1>{{ title }}</h1>
    <button class="btn btn-default" @click="logFieldSeen = !logFieldSeen">Show logs
        <span v-bind:class="logFieldSeen ? 'glyphicon-minus' : 'glyphicon-plus'" class="glyphicon"></span>
        <span class="badge">{{ badgeCount }}</span>
    </button>
    <input type="checkbox" v-model="subscribe" @click="unsubscribe"> Don't get logs
    <div id="logField" class="panel panel-default" v-show="logFieldSeen">
        <div class="panel-title">Log</div>
    </div>
    <div class="row" @click="errors = []; success = [];">
        <div class="alert alert-danger col-md-12" v-for="error in errors" v-if="errors"> {{ error }}</div>
        <div class="alert alert-success col-md-12" v-for="succ in success" v-if="success"> {{ succ }}</div>
    </div>
    <!-- Open edit form button -->
    <button @click="openEditUserForm()" title="Add user" class="btn btn-default">Add user</button>
    <button @click="editUserFormSeen = !editUserFormSeen" title="Close form" v-if="editUserFormSeen"
            class="btn btn-default">
        <span class="glyphicon glyphicon-remove-circle"></span>
    </button>

    <!-- Add/Edit user form -->
    <form class="form-horizontal" id="editUserForm" @submit.prevent="onSubmit" name="editUserForm"
          v-if="editUserFormSeen">
        <input type="text" v-model="userId" value="" id="id" hidden>

        <span :class="{ 'has-error': userNameError }">
            <label for="name">Name</label>
            <input class="form-control" type="text" v-model="userName" value="" id="name"
                   placeholder="Enter name"/>
            <p v-if="userNameError" class="alert alert-danger">{{ userNameError }}</p>
        </span>

        <span :class="{ 'has-error': userEmailError }">
            <label for="email">eMail</label>
            <input class="form-control" type="text" v-model="userEmail" value="" id="email" placeholder="Enter email">
            <p v-if="userEmailError" class="alert alert-danger">{{ userEmailError }}</p>
        </span>

        <label for="role">Role</label>
        <select class="form-control" v-model="userRole" id="role">
            <option disabled value="">Select user role</option>
            <option v-for="item of roles">{{ item }}</option>
        </select>

        <button type="submit" class="btn btn-success">{{ actionName }} user</button>
    </form>

    <div class="row">
        <table class="table">
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Email</th>
                <th class="col-md-2">Role</th>
                <th class="col-md-1">Delete</th>
                <th class="col-md-1">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr
                    ref="users"
                    is="users-item"
                    v-for="(item, index) of users"
                    v-bind:users="item"
                    v-on:remove="dropUser(item.id, index);"
                    v-on:edit="openEditUserForm(item.id)">
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>